.sidebar-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0 0.8rem 0;
    cursor: pointer;
    transition: background-color 0.3s;
    max-height: 5vh;
    width: 100%;
}
.sidebar-item:hover, .sidebar-item.active {
    background-color: #efdddd;
    color: brown;
    transition: background-color 0.3s, transform 0.3s;
    transform: scale(0.95);
}
.icon-container.icon{
    height: 100%;
    object-fit: cover;
}